<h1>Shadowbringers Resistance Weapons</h1>
<p>...Introduction to the details of the resistance weapon quests here...</p>
<!-- Before you Begin -->
<div class="panel panel-default">
  <div class="panel-heading">Before You Begin...</div>
  <div class="panel-body">
    <p>Before you can begin the grind for your Resistance Weapons, you must complete the following quests for the Main
      Scenario Quests and Side Quests.</p>

    <div class="table-responsive table-50">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Main Scenario Quest Requirement</th>
            <th>Side Quest Requirement</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <app-quest icon="msq_quest">Shadowbringers - Lvl 80</app-quest>
            </td>
            <td>
              <app-quest icon="blue_plus">The City of Lost Angels - Lvl 70</app-quest>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <p>The side quest "The City of Lost Angels" is part of a quest chain for the Alliance Raids for Stormblood. You must
      complete each side story quest for this questline that ends with "The City of Lost Angels" in order to have access
      to the Resistance Weapon quests.</p>
  </div>
</div>
<hr>

<!-- Step 1 - Resistance Weapons -->
<h2>Resistance Weapons (iLvl 485)</h2>
<p>The first time you reach this part of the questline, you will take on the quest "Fire in the Forge" which only occurs
  once. This quest gives you the materials you need for your first Resistance Weapon for free. After you have completed
  this quest, the quest "Resistance is (Not) Futile" becomes available as a repeatable quest for other Resistance
  Weapons.</p>
<div class="row">
  <!-- Fire in the Forge Quest -->
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <app-quest icon="blue_plus" [isHeading]="true">Fire in the Forge</app-quest>
      </div>
      <div class="panel-body">
        <div class="alert alert-warning">
          This step only happens once! All additional weapons have to be done through the quest "Resistance is (Not)
          Futile"
        </div>
        <img class="quest-banner" src="../../assets/banners/Resistance1.jpg" alt="">
        <br>

        <div class="table-responsive table-50">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>Quest Giver</th>
                <td>Gerolt</td>
              </tr>
              <tr>
                <th>Location</th>
                <td>Gangos (x:6.3, y:5.0)</td>
              </tr>
              <tr>
                <th>Previous Quests</th>
                <td>
                  <app-quest icon="blue_plus">Hail to the Queen</app-quest>
                  <app-quest icon="blue_plus">Path to the Past</app-quest>
                  <app-quest icon="blue_plus">The Bozja Incident</app-quest>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h3>Acquisition</h3>
        <div class="table-responsive table-50">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>What to get</th>
                <th>How to get</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <app-item icon="scalepowder" quantity="1">Thavnairian Scalepowder</app-item>
                </td>
                <td>
                  <p>Given for free through quest.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h3>Turn in</h3>
        <p>Deliver 1 Thavnairian Scalepowder to Gerolt in Gangos.</p>

      </div>
    </div>
  </div>
  <!-- Resistance is (Not) Futile Quest -->
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <app-quest icon="blue_plus_repeat" [isHeading]="true">Resistance is (Not) Futile</app-quest>
      </div>
      <div class="panel-body">
        <img class="quest-banner" src="../../assets/banners/Resistance1.jpg" alt="">
        <br>

        <div class="table-responsive table-50">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>Quest Giver</th>
                <td>Zlatan</td>
              </tr>
              <tr>
                <th>Location</th>
                <td>Gangos (x:6.3, y:5.1)</td>
              </tr>
              <tr>
                <th>Previous Quest</th>
                <td>
                  <app-quest icon="blue_plus">Fire in the Forge</app-quest>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h3>Acquisition</h3>
        <div class="table-responsive table-50">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>What to get</th>
                <th>How to get</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <app-item icon="scalepowder" quantity="4">Thavnairian Scalepowder</app-item>
                </td>
                <td>
                  <p>Purchased for 1000 Allagan Tomestones of Poetics (250 each).</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <p>Thavnairian Scalepowder can be obtained from the following vendors:</p>

        <!-- Vendors -->
        <ul class="list-group">
          <li class="list-group-item">Auriana - Mor Dhona (x:22.7, y:6.6)</li>
          <li class="list-group-item">Hismena - Idyllshire (x:5.7, y:5.2)</li>
          <li class="list-group-item">Rowena's Representative - Limsa Lominsa Lower Decks (x:9.0, y:11.1)</li>
          <li class="list-group-item">Rowena's Representative - Ul'dah Steps of Nald (x:9.0, y:8.3)</li>
          <li class="list-group-item">Rowena's Representative - New Gridania (x:11.9, y:12.3)</li>
          <li class="list-group-item">Rowena's Representative - Foundation (x:10.5, y:11.8)</li>
          <li class="list-group-item">Rowena's Representative - Kugane (x:12.2, y:10.8)</li>
        </ul>

        <h3>Turn in</h3>
        <p>Deliver 4 Thavnairian Scalepowder to Zlatan in Gangos.</p>

      </div>
    </div>
  </div>
  <!-- Resistance Weapons iLvl 485 List -->
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Resistance Weapons (iLvl 485)</div>
      <div class="panel-body">
        <div class="row">
          <app-weapon icon="Honorbound">Honorbound<br> (PLD)</app-weapon>
          <app-weapon icon="Tenacity">Tenacity<br> (PLD)</app-weapon>
          <app-weapon icon="Skullrender">Skullrender<br> (WAR)</app-weapon>
          <app-weapon icon="Woeborn">Woeborn<br> (DRK)</app-weapon>
          <app-weapon icon="Crownsblade">Crownsblade<br> (GNB)</app-weapon>
          <app-weapon icon="Ingrimm">Ingrimm<br> (WHM)</app-weapon>
          <app-weapon icon="Akademos">Akademos<br> (SCH)</app-weapon>
          <app-weapon icon="Solstice">Solstice<br> (AST)</app-weapon>
          <app-weapon icon="Samsara">Samsara<br> (MNK)</app-weapon>
          <app-weapon icon="Dreizack">Dreizack<br> (DRG)</app-weapon>
          <app-weapon icon="Honeshirazu">Honeshirazu<br> (NIN)</app-weapon>
          <app-weapon icon="Hoshikiri">Hoshikiri<br> (SAM)</app-weapon>
          <app-weapon icon="Brilliance">Brilliance<br> (BRD)</app-weapon>
          <app-weapon icon="Lawman">Lawman<br> (MCH)</app-weapon>
          <app-weapon icon="Enchufla">Enchufla<br> (DNC)</app-weapon>
          <app-weapon icon="Soulscourge">Soulscourge<br> (BLM)</app-weapon>
          <app-weapon icon="Espiritus">Espiritus<br> (SMN)</app-weapon>
          <app-weapon icon="Talekeeper">Talekeeper<br> (RDM)</app-weapon>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<!-- Step 2 - Augmented Resistance Weapons -->
<h2>Augmented Resistance Weapons (iLvl 500)</h2>
<p>The next part in the Resistance Weapons questline requires that you complete...</p>
<div class="row">
  <!-- For Want of a Memory Quest -->
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <app-quest icon="blue_plus_repeat" [isHeading]="true">For Want of a Memory</app-quest>
      </div>
      <div class="panel-body">
        <img class="quest-banner" src="../../assets/banners/Resistance2.jpg" alt="">
        <br>

        <div class="table-responsive table-50">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>Quest Giver</th>
                <td>Zlatan</td>
              </tr>
              <tr>
                <th>Location</th>
                <td>Gangos (x:6.1, y:4.9)</td>
              </tr>
              <tr>
                <th>Previous Quests</th>
                <td>
                  <app-quest icon="msq_quest">Vows of Virtue, Deeds of Cruelty</app-quest>
                  <app-quest icon="blue_plus">Where Eagles Nest</app-quest>
                  <app-quest icon="blue_plus">A Sober Proposal</app-quest>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h3>Acquisition</h3>
        <div class="table-responsive table-50">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>What to get</th>
                <th>How to get</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <app-item icon="Tortured" quantity="20">Tortured Memory of the Dying</app-item>
                </td>
                <td>
                  <p>Achieving Gold for FATEs in Coerthas Western Highlands and Sea of Clouds</p>
                  <p>Random drop from Skirmishes, Critical Engagements, and enemies in zone 1 of The Bozjan Southern
                    Front</p>
                </td>
              </tr>
              <tr>
                <td>
                  <app-item icon="Sorrowful" quantity="20">Sorrowful Memory of the Dying</app-item>
                </td>
                <td>
                  <p>Achieving Gold for FATEs in Dravanian Forelands and Churning Mists</p>
                  <p>Random drop from Skirmishes, Critical Engagements, and enemies in zone 2 of The Bozjan Southern
                    Front</p>
                </td>
              </tr>
              <tr>
                <td>
                  <app-item icon="Harrowing" quantity="20">Harrowing Memory of the Dying</app-item>
                </td>
                <td>
                  <p>Achieving Gold for FATEs in Dravanian Hinterlands and Azys Lla</p>
                  <p>Random drop from Skirmishes, Critical Engagements, and enemies in zone 3 of The Bozjan Southern
                    Front</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h3>Turn in</h3>
        <p>With your Resistance Weapon in your inventory, deliver the 60 Memories of the Dying to Zlatan in Gangos.</p>

      </div>
    </div>
  </div>
  <!-- Resistance Weapons iLvl 500 List -->
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Augmented Resistance Weapons (iLvl 500)</div>
      <div class="panel-body">
        <div class="row">
          <app-weapon icon="Honorbound">Augmented Honorbound<br> (PLD)</app-weapon>
          <app-weapon icon="Tenacity">Augmented Tenacity<br> (PLD)</app-weapon>
          <app-weapon icon="Skullrender">Augmented Skullrender<br> (WAR)</app-weapon>
          <app-weapon icon="Woeborn">Augmented Woeborn<br> (DRK)</app-weapon>
          <app-weapon icon="Crownsblade">Augmented Crownsblade<br> (GNB)</app-weapon>
          <app-weapon icon="Ingrimm">Augmented Ingrimm<br> (WHM)</app-weapon>
          <app-weapon icon="Akademos">Augmented Akademos<br> (SCH)</app-weapon>
          <app-weapon icon="Solstice">Augmented Solstice<br> (AST)</app-weapon>
          <app-weapon icon="Samsara">Augmented Samsara<br> (MNK)</app-weapon>
          <app-weapon icon="Dreizack">Augmented Dreizack<br> (DRG)</app-weapon>
          <app-weapon icon="Honeshirazu">Augmented Honeshirazu<br> (NIN)</app-weapon>
          <app-weapon icon="Hoshikiri">Augmented Hoshikiri<br> (SAM)</app-weapon>
          <app-weapon icon="Brilliance">Augmented Brilliance<br> (BRD)</app-weapon>
          <app-weapon icon="Lawman">Augmented Lawman<br> (MCH)</app-weapon>
          <app-weapon icon="Enchufla">Augmented Enchufla<br> (DNC)</app-weapon>
          <app-weapon icon="Soulscourge">Augmented Soulscourge<br> (BLM)</app-weapon>
          <app-weapon icon="Espiritus">Augmented Espiritus<br> (SMN)</app-weapon>
          <app-weapon icon="Talekeeper">Augmented Talekeeper<br> (RDM)</app-weapon>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<!-- Step 3 - Recollection Weapons -->
<h2>Recollection Weapons (iLvl 500)</h2>
<p>The next part in the Resistance Weapons questline requires that you complete...</p>
<div class="row">
  <!-- The Will to Resist Quest -->
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <app-quest icon="blue_plus_repeat" [isHeading]="true">The Will to Resist</app-quest>
      </div>
      <div class="panel-body">
        <img class="quest-banner" src="../../assets/banners/Resistance3.jpg" alt="">
        <br>

        <div class="table-responsive table-50">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>Quest Giver</th>
                <td>Zlatan</td>
              </tr>
              <tr>
                <th>Location</th>
                <td>Gangos (x:6.1, y:4.9)</td>
              </tr>
              <tr>
                <th>Previous Quest</th>
                <td>
                  <app-quest icon="blue_plus_repeat">For Want of a Memory</app-quest>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h3>Acquisition</h3>
        <div class="table-responsive table-50">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>What to get</th>
                <th>How to get</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <app-item icon="Bitter" quantity="6">Bitter Memory of the Dying</app-item>
                </td>
                <td>
                  <p>Level 60 Dungeons (Level-Synced)</p>
                  <p>Duty Roulette: Leveling (Once a day)</p>
                  <p>Random drops from enemies in The Bozjan Southern Front</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h3>Turn in</h3>
        <p>With your Augmented Resistance Weapon in your inventory, deliver the 6 Bitter Memories of the Dying to Zlatan
          in Gangos.</p>
      </div>
    </div>
  </div>
  <!-- Recollection Weapons iLvl 500 List -->
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Recollection Weapons (iLvl 500)</div>
      <div class="panel-body">
        <div class="row">
          <app-weapon icon="Honorbound">Honorbound Recollection<br> (PLD)</app-weapon>
          <app-weapon icon="Tenacity">Tenacity Recollection<br> (PLD)</app-weapon>
          <app-weapon icon="Skullrender">Skullrender Recollection<br> (WAR)</app-weapon>
          <app-weapon icon="Woeborn">Woeborn Recollection<br> (DRK)</app-weapon>
          <app-weapon icon="Crownsblade">Crownsblade Recollection<br> (GNB)</app-weapon>
          <app-weapon icon="Ingrimm">Ingrimm Recollection<br> (WHM)</app-weapon>
          <app-weapon icon="Akademos">Akademos Recollection<br> (SCH)</app-weapon>
          <app-weapon icon="Solstice">Solstice Recollection<br> (AST)</app-weapon>
          <app-weapon icon="Samsara">Samsara Recollection<br> (MNK)</app-weapon>
          <app-weapon icon="Dreizack">Dreizack Recollection<br> (DRG)</app-weapon>
          <app-weapon icon="Honeshirazu">Honeshirazu Recollection<br> (NIN)</app-weapon>
          <app-weapon icon="Hoshikiri">Hoshikiri Recollection<br> (SAM)</app-weapon>
          <app-weapon icon="Brilliance">Brilliance Recollection<br> (BRD)</app-weapon>
          <app-weapon icon="Lawman">Lawman Recollection<br> (MCH)</app-weapon>
          <app-weapon icon="Enchufla">Enchufla Recollection<br> (DNC)</app-weapon>
          <app-weapon icon="Soulscourge">Soulscourge Recollection<br> (BLM)</app-weapon>
          <app-weapon icon="Espiritus">Espiritus Recollection<br> (SMN)</app-weapon>
          <app-weapon icon="Talekeeper">Talekeeper Recollection<br> (RDM)</app-weapon>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<!-- Step 4 - Law's Order Weapons -->
<h2>Law's Order Weapons (iLvl 510)</h2>
<p>The next part in the Resistance Weapons questline requires that you complete...</p>
<div class="row">
  <!-- Change of Arms Quest -->
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <app-quest icon="blue_plus_repeat" [isHeading]="true">Change of Arms</app-quest>
      </div>
      <div class="panel-body">
        <img class="quest-banner" src="../../assets/banners/Resistance4.jpg" alt="">
        <br>

        <div class="table-responsive table-50">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>Quest Giver</th>
                <td>Zlatan</td>
              </tr>
              <tr>
                <th>Location</th>
                <td>Gangos (x:6.1, y:4.9)</td>
              </tr>
              <tr>
                <th>Previous Quests</th>
                <td>
                  <app-quest icon="blue_plus_repeat">The Will to Resist</app-quest>
                  <app-quest icon="blue_plus">A Sign of What's to Come</app-quest>
                  <app-quest icon="blue_plus">Fit for a Queen</app-quest>
                  <app-quest icon="blue_plus">In the Queen's Image</app-quest>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h3>Acquisition</h3>
        <div class="table-responsive table-50">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>What to get</th>
                <th>How to get</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <app-item icon="Loathsome" quantity="15">Loathsome Memories of the Dying</app-item>
                </td>
                <td>
                  <p>5 guaranteed from completing Castrum Lacus Litore.</p>
                  <p>1 guaranteed from completing any of the alliance raids from the "Crystal Tower" series
                    (level-synced).</p>
                  <p>1 randomly from completing critical engagements in The Bozjan Southern Front.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h3>Turn in</h3>
        <p>Deliver the 15 Loathsome Memories of the Dying to Zlatan in Gangos.</p>

      </div>
    </div>
  </div>

  <!-- Law's Order Weapons - iLvl 510 List -->
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Law's Order Weapons (iLvl 510)</div>
      <div class="panel-body">
        <div class="row">
          <app-weapon icon="Law's Order Bastard Sword">Law's Order Bastard Sword<br> (PLD)</app-weapon>
          <app-weapon icon="Law's Order Kite Shield">Law's Order Kite Shield<br> (PLD)</app-weapon>
          <app-weapon icon="Law's Order Labrys">Law's Order Labrys<br> (WAR)</app-weapon>
          <app-weapon icon="Law's Order Zweihander">Law's Order Zweihander<br> (DRK)</app-weapon>
          <app-weapon icon="Law's Order Manatrigger">Law's Order Manatrigger<br> (GNB)</app-weapon>
          <app-weapon icon="Law's Order Cane">Law's Order Cane<br> (WHM)</app-weapon>
          <app-weapon icon="Law's Order Codex">Law's Order Codex<br> (SCH)</app-weapon>
          <app-weapon icon="Law's Order Astrometer">Law's Order Astrometer<br> (AST)</app-weapon>
          <app-weapon icon="Law's Order Knuckles">Law's Order Knuckles<br> (MNK)</app-weapon>
          <app-weapon icon="Law's Order Spear">Law's Order Spear<br> (DRG)</app-weapon>
          <app-weapon icon="Law's Order Knives">Law's Order Knives<br> (NIN)</app-weapon>
          <app-weapon icon="Law's Order Samurai Blade">Law's Order Samurai Blade<br> (SAM)</app-weapon>
          <app-weapon icon="Law's Order Composite Bow">Law's Order Composite Bow<br> (BRD)</app-weapon>
          <app-weapon icon="Law's Order Revolver">Law's Order Revolver<br> (MCH)</app-weapon>
          <app-weapon icon="Law's Order Chakrams">Law's Order Chakrams<br> (DNC)</app-weapon>
          <app-weapon icon="Law's Order Rod">Law's Order Rod<br> (BLM)</app-weapon>
          <app-weapon icon="Law's Order Index">Law's Order Index<br> (SMN)</app-weapon>
          <app-weapon icon="Law's Order Rapier">Law's Order Rapier<br> (RDM)</app-weapon>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>

<!-- Step 5 - One Time Grind -->
<h2>Law's Order One-Time Grind</h2>
<p>The next part in the Resistance Weapons questline requires that you complete...</p>
<div class="row">
  <!-- The Resistance Remembers Quest -->
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <app-quest icon="blue_plus" [isHeading]="true">The Resistance Remembers</app-quest>
      </div>
      <div class="panel-body">
        <div class="alert alert-warning">
          This quest is only required to be done one time! DO NOT try to collect more than the listed amount below!
        </div>
        <img src="../../assets/banners/Resistance5.jpg" alt="" class="quest-banner">
        <br>

        <div class="table-responsive table-50">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>Quest Giver</th>
                <td>Gerolt</td>
              </tr>
              <tr>
                <th>Location</th>
                <td>Gangos (x:6.2, y:5.0)</td>
              </tr>
              <tr>
                <th>Previous Quest</th>
                <td>
                  <app-quest icon="blue_plus_repeat">Change of Arms</app-quest>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h3>Acquisition</h3>
        <div class="table-responsive table-50">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>What to get</th>
                <th>How to get</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <app-item icon="Haunting" quantity="18">Haunting Memories of the Dying</app-item>
                </td>
                <td>
                  <p>3 guaranteed from completing any of the alliance raids from the "Shadow of Mhach" series
                    (level-synced).</p>
                  <p>1 randomly from FATEs in Gyr Abania zones.</p>
                </td>
              </tr>
              <tr>
                <td>
                  <app-item icon="Vexatious" quantity="18">Vexatious Memories of the Dying</app-item>
                </td>
                <td>
                  <p>3 guaranteed from completing any of the alliance raids from the "Return to Ivalice" series
                    (level-synced).</p>
                  <p>1 randomly from FATEs in Far East zones.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h3>Turn in</h3>
        <p>Deliver 18 Haunting Memories of the Dying and 18 Vexatious Memories of the Dying to the Allagan Node in
          Gangos.</p>

      </div>
    </div>
  </div>
</div>
<hr>

<!-- Step 6 - Augmented Law's Order Weapons -->
<h2>Augmented Law's Order Weapons (iLvl 515)</h2>
<p>The next part in the Resistance Weapons questline requires that you complete...</p>
<div class="row">
  <!-- A New Path of Resistance Quest -->
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <app-quest icon="blue_plus_repeat" [isHeading]="true">A New Path of Resistance</app-quest>
      </div>
      <div class="panel-body">
        <img src="../../assets/banners/Resistance6.jpg" alt="" class="quest-banner">
        <br>

        <div class="table-responsive table-50">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>Quest Giver</th>
                <td>Zlatan</td>
              </tr>
              <tr>
                <th>Location</th>
                <td>Gangos (x:6.1, y:4.9)</td>
              </tr>
              <tr>
                <th>Previous Quest</th>
                <td>
                  <app-quest icon="blue_plus">The Resistance Remembers</app-quest>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h3>Acquisition</h3>
        <div class="table-responsive table-50">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>What to get</th>
                <th>How to get</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <app-item icon="Timeworn" quantity="15">Timeworn Artifacts</app-item>
                </td>
                <td>
                  <p>3 guaranteed from completing Delubrum Reginae.</p>
                  <p>1 randomly from completing a set of 10 floors in Palace of the Dead. Tip: It has been found that
                    the higher the set of floors, the higher the chance for a drop.</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h3>Turn in</h3>
        <p>Deliver the 15 Timeworn Artifacts to Zlatan in Gangos.</p>

        <div class="alert alert-warning">
          As you turn in your 15 Timeworn Artifacts you will be asked to allocate the stats of your weapon. These stats
          can be whatever you want them to be as long as you use the number required. If you aren't sure how to allocate
          your stats refer to the guide below. If you already know what stats you want please ignore the following.
        </div>

        <h3>Stat Allocation Suggestions</h3>
        <p>If you aren't sure how to allocate your stats and want a good rule of thumb to follow, then refer to the
          following info based on the role that your weapon is for:</p>
        <br>

        <h4>DPS Jobs</h4>
        <p>Generally your stat priority should follow the following outline:<br>
          Critical Hit > Direct Hit > Determination > Skill Speed/Spell Speed</p>
        <p>Keep in mind that different jobs may want different stats priorities. For example, if you play Black Mage,
          you may want to take Spell Speed in the place of Critical Hit depending on your playstyle.</p>
        <br>

        <h4>Healer Jobs</h4>
        <p>Generally your stat priority should follow the following outline:<br>
          Critical Hit > Determination > Piety=Spell Speed</p>
        <p>Keep in mind that your Piety and Spell Speed allocations are based on preference. If you want to go faster,
          choose Spell Speed. If you need more mana regeneration, choose Piety.</p>
        <br>

        <h4>Tank Jobs</h4>
        <p>Generally your stat priority should follow the following outline:<br>
          Critical Hit > Determination > Tenacity=Skill Speed</p>
        <p>Keep in mind that your Tenacity and Skill Speed allocations are based on preference. If you want to go
          faster, choose Skill Speed. If you want a general stat increase, choose Tenacity. Tenacity is a sort of
          strange stat because of how it scales so most people prefer to use Direct Hit as a stat. But because the Tank
          weapons don't allow you to allocate Direct Hit as a stat you have to choose something else.</p>

      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
