<h1>Shadowbringers Resistance Weapons</h1>
<p>...Introduction to the details of the resistance weapon quests here...</p>

<div class="panel panel-default">
  <div class="panel-heading">Before You Begin...</div>
  <div class="panel-body">
    <p>Before you can begin the grind for your Resistance Weapons, you must complete the following quests for the Main
      Scenario Quests and Side Quests.</p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Main Scenario Quest Requirement</th>
          <th>Side Quest Requirement</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>"Shadowbringers" - Lvl 80</td>
          <td>"The City of Lost Angels" - Lvl 70</td>
        </tr>
      </tbody>
    </table>
    <p>The side quest "The City of Lost Angels" is part of a quest chain for the Alliance Raids for Stormblood. You must
      complete each side story quest for this questline that ends with "The City of Lost Angels" in order to have access
      to the Resistance Weapon quests.</p>
  </div>
</div>

<hr>

<!-- Step 1 - iLvl 485 -->
<h2>Resistance Weapons (iLvl 485)</h2>
<p>The first time you reach this part of the questline, you will take on the quest "Fire in the Forge" which only occurs
  once. This quest gives you the materials you need for your first Resistance Weapon for free. After you have completed
  this quest, the quest "Resistance is (Not) Futile" becomes available as a repeatable quest for other Resistance
  Weapons.</p>
<div class="row">

  <!-- Fire in the Forge Quest -->
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">"Fire in the Forge" - One time only</div>
      <div class="panel-body">

        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Quest Giver</th>
              <td>Gerolt</td>
            </tr>
            <tr>
              <th>Location</th>
              <td>Gangos (x:6.3, y:5.0)</td>
            </tr>
            <tr>
              <th>Previous Quest</th>
              <td>The Bozja Incident</td>
            </tr>
          </tbody>
        </table>

        <p>Deliver 1 Thavnairian Scalepowder, obtained through the quest for free, to Gerolt in Gangos.</p>

        <div class="row">
          <div class="col-xs-12">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/scalepowder.png" alt="Thavnairian Scalepowder Icon"
                  class="media-object">
              </div>
              <div class="media-body">
                <p>1 Thavnairian Scalepowder</p>
              </div>
            </div>
          </div>
        </div>

        <div class="alert alert-warning">
          This step only happens once! All additional weapons have to be done through the quest "Resistance is (Not)
          Futile"
        </div>

      </div>
    </div>
  </div>

  <!-- Resistance is (Not) Futile Quest -->
  <div class="col-xs-12 col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">"Resistance is (Not) Futile" - Repeatable</div>
      <div class="panel-body">

        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Quest Giver</th>
              <td>Zlatan</td>
            </tr>
            <tr>
              <th>Location</th>
              <td>Gangos (x:6.3, y:5.1)</td>
            </tr>
            <tr>
              <th>Previous Quest</th>
              <td>Fire in the Forge</td>
            </tr>
          </tbody>
        </table>

        <p>Purchase 4 Thavnairian Scalepowder for 1000 Allagan Tomestones of Poetics (250 each) from any of the
          following vendors:</p>

        <div class="row">
          <div class="col-xs-12">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/scalepowder.png" alt="Thavnairian Scalepowder Icon"
                  class="media-object">
              </div>
              <div class="media-body">
                <p>4 Thavnairian Scalepowder</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Vendors -->
        <ul class="list-group">
          <li class="list-group-item">Auriana - Mor Dhona (x:22.7, y:6.6)</li>
          <li class="list-group-item">Hismena - Idyllshire (x:5.7, y:5.2)</li>
          <li class="list-group-item">Rowena's Representative - Limsa Lominsa Lower Decks (x:9.0, y:11.1)</li>
          <li class="list-group-item">Rowena's Representative - Ul'dah Steps of Nald (x:9.0, y:8.3)</li>
          <li class="list-group-item">Rowena's Representative - New Gridania (x:11.9, y:12.3)</li>
          <li class="list-group-item">Rowena's Representative - Foundation (x:10.5, y:11.8)</li>
          <li class="list-group-item">Rowena's Representative - Kugane (x:12.2, y:10.8)</li>
        </ul>

        <p>Deliver 4 Thavnairian Scalepowder to Zlatan in Gangos.</p>

      </div>
    </div>
  </div>

  <!-- Resistance Weapons iLvl 485 List -->
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Resistance Weapons (iLvl 485)</div>
      <div class="panel-body">
        <div class="row">

          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Honorbound.png" alt="Honorbound Icon" class="media-object">
              </div>
              <div class="media-body">
                <p>Honorbound (PLD)</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Tenacity.png" alt="Tenacity Icon" class="media-object">
              </div>
              <div class="media-body">
                <p>Tenacity (PLD)</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Skullrender.png" alt="Skullrender Icon" class="media-object">
              </div>
              <div class="media-body">
                <p>Skullrender (WAR)</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Woeborn.png" alt="Woeborn Icon" class="media-object">
              </div>
              <div class="media-body">
                <p>Woeborn (DRK)</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Crownsblade.png" alt="Crownsblade Icon" class="media-object">
              </div>
              <div class="media-body">
                <p>Crownsblade (GNB)</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Ingrimm.png" alt="Ingrimm Icon" class="media-object">
              </div>
              <div class="media-body">
                <p>Ingrimm (WHM)</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Akademos.png" alt="Akademos Icon" class="media-object">
              </div>
              <div class="media-body">
                <p>Akademos (SCH)</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Solstice.png" alt="Solstice Icon" class="media-object">
              </div>
              <div class="media-body">
                <p>Solstice (AST)</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Samsara.png" alt="Samsara Icon" class="media-object">
              </div>
              <div class="media-body">
                <p>Samsara (MNK)</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Dreizack.png" alt="Dreizack Icon" class="media-object">
              </div>
              <div class="media-body">
                <p>Dreizack (DRG)</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Honeshirazu.png" alt="Honeshirazu Icon" class="media-object">
              </div>
              <div class="media-body">
                <p>Honeshirazu (NIN)</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Hoshikiri.png" alt="Hoshikiri Icon" class="media-object">
              </div>
              <div class="media-body">
                <p>Hoshikiri (SAM)</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Brilliance.png" alt="Brilliance Icon" class="media-object">
              </div>
              <div class="media-body">
                <p>Brilliance (BRD)</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Lawman.png" alt="Lawman Icon" class="media-object">
              </div>
              <div class="media-body">
                <p>Lawman (MCH)</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Enchufla.png" alt="Enchufla Icon" class="media-object">
              </div>
              <div class="media-body">
                <p>Enchufla (DNC)</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Soulscourge.png" alt="Soulscourge Icon" class="media-object">
              </div>
              <div class="media-body">
                <p>Soulscourge (BLM)</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Espiritus.png" alt="Espiritus Icon" class="media-object">
              </div>
              <div class="media-body">
                <p>Espiritus (SMN)</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Talekeeper.png" alt="Talekeeper Icon" class="media-object">
              </div>
              <div class="media-body">
                <p>Talekeeper (RDM)</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<hr>

<!-- Step 2 - iLvl 500 -->
<h2>Augmented Resistance Weapons (iLvl 500)</h2>
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">"For Want of a Memory" - Repeatable</div>
      <div class="panel-body">

        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Quest Giver</th>
              <td>Zlatan</td>
            </tr>
            <tr>
              <th>Location</th>
              <td>Gangos (x:6.1, y:4.9)</td>
            </tr>
            <tr>
              <th>Previous Quest</th>
              <td>A Sober Proposal</td>
            </tr>
          </tbody>
        </table>

        <p>Obtain 60 total Memories of the Dying of 3 different varieties. Details are below:</p>

        <hr>

        <!-- Tortured Memory of the Dying -->
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Tortured.png" alt="Tortured Memory of the Dying Icon"
                  class="media-object">
              </div>
              <div class="media-body">
                <p>20 Tortured Memory of the Dying</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-8">
            <p>Achieving Gold for FATEs in Coerthas Western Highlands and Sea of Clouds</p>
            <p>Random drop from Skirmishes, Critical Engagements, and enemies in zone 1 of The Bozjan Southern Front</p>
          </div>
        </div>

        <hr>

        <!-- Sorrowful Memory of the Dying -->
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Sorrowful.png" alt="Sorrowful Memory of the Dying Icon"
                  class="media-object">
              </div>
              <div class="media-body">
                <p>20 Sorrowful Memory of the Dying</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-8">
            <p>Achieving Gold for FATEs in Dravanian Forelands and Churning Mists</p>
            <p>Random drop from Skirmishes, Critical Engagements, and enemies in zone 2 of The Bozjan Southern Front</p>
          </div>
        </div>

        <hr>

        <!-- Harrowing Memory of the Dying -->
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Harrowing.png" alt="Harrowing Memory of the Dying Icon"
                  class="media-object">
              </div>
              <div class="media-body">
                <p>20 Harrowing Memory of the Dying</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-8">
            <p>Achieving Gold for FATEs in Dravanian Hinterlands and Azys Lla</p>
            <p>Random drop from Skirmishes, Critical Engagements, and enemies in zone 3 of The Bozjan Southern Front</p>
          </div>
        </div>

        <hr>

        <p>Deliver the 20 of each Memory of the Dying and the Resistance weapon from the previous step.</p>

      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
