<h1>Shadowbringers Resistance Weapons</h1>
<p>...Introduction to the details of the resistance weapon quests here...</p>

<!-- Before you Begin -->
<div class="panel panel-default">
  <div class="panel-heading">Before You Begin...</div>
  <div class="panel-body">
    <p>Before you can begin the grind for your Resistance Weapons, you must complete the following quests for the Main
      Scenario Quests and Side Quests.</p>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Main Scenario Quest Requirement</th>
          <th>Side Quest Requirement</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <app-quest [icon]="'msq_quest'">Shadowbringers - Lvl 80</app-quest>
          </td>
          <td>
            <app-quest [icon]="'blue_plus'">The City of Lost Angels - Lvl 70</app-quest>
          </td>
        </tr>
      </tbody>
    </table>
    <p>The side quest "The City of Lost Angels" is part of a quest chain for the Alliance Raids for Stormblood. You must
      complete each side story quest for this questline that ends with "The City of Lost Angels" in order to have access
      to the Resistance Weapon quests.</p>
  </div>
</div>

<hr>

<!-- Step 1 - iLvl 485 -->
<h2>Resistance Weapons (iLvl 485)</h2>
<p>The first time you reach this part of the questline, you will take on the quest "Fire in the Forge" which only occurs
  once. This quest gives you the materials you need for your first Resistance Weapon for free. After you have completed
  this quest, the quest "Resistance is (Not) Futile" becomes available as a repeatable quest for other Resistance
  Weapons.</p>
<div class="row">

  <!-- Fire in the Forge Quest -->
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <app-quest [icon]="'blue_plus'" [isHeading]="true">Fire in the Forge</app-quest>
      </div>
      <div class="panel-body">
        <img class="quest-banner" src="../../assets/shb-banners/Resistance1.jpg" alt="">

        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Quest Giver</th>
              <td>Gerolt</td>
            </tr>
            <tr>
              <th>Location</th>
              <td>Gangos (x:6.3, y:5.0)</td>
            </tr>
            <tr>
              <th>Previous Quest</th>
              <td>
                <app-quest [icon]="'blue_plus'">Hail to the Queen</app-quest>
                <app-quest [icon]="'blue_plus'">Path to the Past</app-quest>
                <app-quest [icon]="'blue_plus'">The Bozja Incident</app-quest>
              </td>
            </tr>
          </tbody>
        </table>

        <p>Deliver 1 Thavnairian Scalepowder, obtained through the quest for free, to Gerolt in Gangos.</p>

        <div class="row">
          <div class="col-xs-12">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/scalepowder.jpg" alt="Thavnairian Scalepowder Icon"
                  class="media-object">
              </div>
              <div class="media-body">
                <p>1 Thavnairian Scalepowder</p>
              </div>
            </div>
          </div>
        </div>

        <div class="alert alert-warning">
          This step only happens once! All additional weapons have to be done through the quest "Resistance is (Not)
          Futile"
        </div>

      </div>
    </div>
  </div>

  <!-- Resistance is (Not) Futile Quest -->
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <app-quest [icon]="'blue_plus_repeat'" [isHeading]="true">Resistance is (Not) Futile</app-quest>
      </div>
      <div class="panel-body">

        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Quest Giver</th>
              <td>Zlatan</td>
            </tr>
            <tr>
              <th>Location</th>
              <td>Gangos (x:6.3, y:5.1)</td>
            </tr>
            <tr>
              <th>Previous Quest</th>
              <td>
                <app-quest [icon]="'blue_plus'">Fire in the Forge</app-quest>
              </td>
            </tr>
          </tbody>
        </table>

        <p>Purchase 4 Thavnairian Scalepowder for 1000 Allagan Tomestones of Poetics (250 each) from any of the
          following vendors:</p>

        <div class="row">
          <div class="col-xs-12">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/scalepowder.jpg" alt="Thavnairian Scalepowder Icon"
                  class="media-object">
              </div>
              <div class="media-body">
                <p>4 Thavnairian Scalepowder</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Vendors -->
        <ul class="list-group">
          <li class="list-group-item">Auriana - Mor Dhona (x:22.7, y:6.6)</li>
          <li class="list-group-item">Hismena - Idyllshire (x:5.7, y:5.2)</li>
          <li class="list-group-item">Rowena's Representative - Limsa Lominsa Lower Decks (x:9.0, y:11.1)</li>
          <li class="list-group-item">Rowena's Representative - Ul'dah Steps of Nald (x:9.0, y:8.3)</li>
          <li class="list-group-item">Rowena's Representative - New Gridania (x:11.9, y:12.3)</li>
          <li class="list-group-item">Rowena's Representative - Foundation (x:10.5, y:11.8)</li>
          <li class="list-group-item">Rowena's Representative - Kugane (x:12.2, y:10.8)</li>
        </ul>

        <p>Deliver 4 Thavnairian Scalepowder to Zlatan in Gangos.</p>

      </div>
    </div>
  </div>

  <!-- Resistance Weapons iLvl 485 List -->
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Resistance Weapons (iLvl 485)</div>
      <div class="panel-body">
        <div class="row">
          <app-weapon-list [iLvl]="'485'"></app-weapon-list>
        </div>
      </div>
    </div>
  </div>

</div>

<hr>

<!-- Step 2 - iLvl 500 -->
<h2>Augmented Resistance Weapons (iLvl 500)</h2>
<p>The next part in the Resistance Weapons questline requires that you complete...</p>
<div class="row">
  <!-- For Want of a Memory Quest -->
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <img class="quest-icon" src="../../assets/shared/blue_plus_repeat.jpg" alt="">
        "For Want of a Memory"
      </div>
      <div class="panel-body">

        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Quest Giver</th>
              <td>Zlatan</td>
            </tr>
            <tr>
              <th>Location</th>
              <td>Gangos (x:6.1, y:4.9)</td>
            </tr>
            <tr>
              <th>Previous Quest</th>
              <td>
                <img class="quest-icon" src="../../assets/shared/msq_quest.jpg" alt="">
                "Vows of Virtue, Deeds of Cruelty"<br>
                <img class="quest-icon" src="../../assets/shared/blue_plus.jpg" alt="">
                "Where Eagles Nest"<br>
                <img class="quest-icon" src="../../assets/shared/blue_plus.jpg" alt="">
                "A Sober Proposal"
              </td>
            </tr>
          </tbody>
        </table>

        <p>Obtain 60 total Memories of the Dying of 3 different varieties. Details are below:</p>

        <hr>

        <!-- Tortured Memory of the Dying -->
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Tortured.jpg" alt="Tortured Memory of the Dying Icon"
                  class="media-object">
              </div>
              <div class="media-body">
                <p>20 Tortured Memory of the Dying</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-8">
            <p>Achieving Gold for FATEs in Coerthas Western Highlands and Sea of Clouds</p>
            <p>Random drop from Skirmishes, Critical Engagements, and enemies in zone 1 of The Bozjan Southern Front</p>
          </div>
        </div>

        <hr>

        <!-- Sorrowful Memory of the Dying -->
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Sorrowful.jpg" alt="Sorrowful Memory of the Dying Icon"
                  class="media-object">
              </div>
              <div class="media-body">
                <p>20 Sorrowful Memory of the Dying</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-8">
            <p>Achieving Gold for FATEs in Dravanian Forelands and Churning Mists</p>
            <p>Random drop from Skirmishes, Critical Engagements, and enemies in zone 2 of The Bozjan Southern Front</p>
          </div>
        </div>

        <hr>

        <!-- Harrowing Memory of the Dying -->
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="media">
              <div class="media-left">
                <img src="../../assets/shb-icons/Harrowing.jpg" alt="Harrowing Memory of the Dying Icon"
                  class="media-object">
              </div>
              <div class="media-body">
                <p>20 Harrowing Memory of the Dying</p>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-8">
            <p>Achieving Gold for FATEs in Dravanian Hinterlands and Azys Lla</p>
            <p>Random drop from Skirmishes, Critical Engagements, and enemies in zone 3 of The Bozjan Southern Front</p>
          </div>
        </div>

        <hr>

        <p>Deliver the Memories of the Dying and the Resistance weapon from the previous step.</p>

      </div>
    </div>
  </div>

  <!-- Resistance Weapons iLvl 500 List -->
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">Resistance Weapons (iLvl 500)</div>
      <div class="panel-body">
        <div class="row">

          <app-weapon-list [iLvl]="'500'"></app-weapon-list>

        </div>
      </div>
    </div>
  </div>

</div>

<hr>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
