img.quest-icon {
  width: 35px;
}

.panel.panel-default .panel-body {
  background-color: #f4f4f4;
}

.panel.panel-default .panel-body img.quest-banner {
  display: block;
  margin: 0 auto;
}

.table-50 td,
.table-50 th {
    width: 50%;
}

