<nav class="navbar navbar-inverse fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand nav-link" [routerLink]="['']">Relic Reborn...?</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="#" class="nav-link" [routerLink]="['']">Home</a></li>
        <li><a href="#" class="nav-link" [routerLink]="['']">A Realm Reborn</a></li>
        <li><a href="#" class="nav-link" [routerLink]="['']">Heavensward</a></li>
        <li><a href="#" class="nav-link" [routerLink]="['']">Stormblood</a></li>
        <li><a href="#" class="nav-link" [routerLink]="['ShB']">Shadowbringers</a></li>
      </ul>
    </div>
  </div>
</nav>
