.navbar {
    border-radius: 0px;
}

nav {
    background-color: var(--primary);
    margin-bottom: 0px;
}

nav *,
nav .nav-link {
    color: white;
}

.under-nav {
    height: 25px;
    background-color: var(--accent);
}