<nav class="navbar navbar-inverse fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand nav-link" [routerLink]="['']">FFXIV Guides</a>
    </div>
    <div>
      <ul class="nav navbar-nav">
        <li><a href="#" class="nav-link" [routerLink]="['']">Home</a></li>
        <li><a href="#" class="nav-link" [routerLink]="['ShB']">Shadowbringers</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 under-nav">

        </div>
    </div>
</div>