<div class="row">
    <div class="col-xs-12 col-sm-6 centered">
        <p>A detailed guide on the relic process.</p>
        <button class="btn btn-primary" [routerLink]="['relic']">Relic Steps</button>
    </div>
    <div class="col-xs-12 col-sm-6 centered">
        <p>A tracking tool to help you calculate how much grind you need to grind.</p>
        <button class="btn btn-primary" [routerLink]="['calculator']">Relic Calculator</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <router-outlet></router-outlet>
    </div>
</div>