<!-- SHADOWBRINGERS WEAPONS -->

<!-- iLvl 485 -->
<div *ngIf="iLvl === '485'">

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Honorbound.jpg" alt="Honorbound Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Honorbound (PLD)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Tenacity.jpg" alt="Tenacity Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Tenacity (PLD)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Skullrender.jpg" alt="Skullrender Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Skullrender (WAR)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Woeborn.jpg" alt="Woeborn Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Woeborn (DRK)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Crownsblade.jpg" alt="Crownsblade Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Crownsblade (GNB)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Ingrimm.jpg" alt="Ingrimm Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Ingrimm (WHM)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Akademos.jpg" alt="Akademos Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Akademos (SCH)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Solstice.jpg" alt="Solstice Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Solstice (AST)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Samsara.jpg" alt="Samsara Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Samsara (MNK)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Dreizack.jpg" alt="Dreizack Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Dreizack (DRG)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Honeshirazu.jpg" alt="Honeshirazu Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Honeshirazu (NIN)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Hoshikiri.jpg" alt="Hoshikiri Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Hoshikiri (SAM)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Brilliance.jpg" alt="Brilliance Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Brilliance (BRD)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Lawman.jpg" alt="Lawman Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Lawman (MCH)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Enchufla.jpg" alt="Enchufla Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Enchufla (DNC)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Soulscourge.jpg" alt="Soulscourge Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Soulscourge (BLM)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Espiritus.jpg" alt="Espiritus Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Espiritus (SMN)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Talekeeper.jpg" alt="Talekeeper Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Talekeeper (RDM)</p>
      </div>
    </div>
  </div>
</div>

<!-- iLvl 500 -->
<div *ngIf="iLvl === '500'">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Honorbound.jpg" alt="Honorbound Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Augmented Honorbound (PLD)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Tenacity.jpg" alt="Tenacity Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Augmented Tenacity (PLD)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Skullrender.jpg" alt="Skullrender Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Augmented Skullrender (WAR)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Woeborn.jpg" alt="Woeborn Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Augmented Woeborn (DRK)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Crownsblade.jpg" alt="Crownsblade Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Augmented Crownsblade (GNB)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Ingrimm.jpg" alt="Ingrimm Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Augmented Ingrimm (WHM)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Akademos.jpg" alt="Akademos Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Augmented Akademos (SCH)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Solstice.jpg" alt="Solstice Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Augmented Solstice (AST)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Samsara.jpg" alt="Samsara Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Augmented Samsara (MNK)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Dreizack.jpg" alt="Dreizack Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Augmented Dreizack (DRG)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Honeshirazu.jpg" alt="Honeshirazu Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Augmented Honeshirazu (NIN)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Hoshikiri.jpg" alt="Hoshikiri Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Augmented Hoshikiri (SAM)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Brilliance.jpg" alt="Brilliance Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Augmented Brilliance (BRD)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Lawman.jpg" alt="Lawman Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Augmented Lawman (MCH)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Enchufla.jpg" alt="Enchufla Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Augmented Enchufla (DNC)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Soulscourge.jpg" alt="Soulscourge Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Augmented Soulscourge (BLM)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Espiritus.jpg" alt="Espiritus Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Augmented Espiritus (SMN)</p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="media">
      <div class="media-left">
        <img src="../../assets/shb-icons/Talekeeper.jpg" alt="Talekeeper Icon" class="media-object">
      </div>
      <div class="media-body">
        <p>Augmented Talekeeper (RDM)</p>
      </div>
    </div>
  </div>
</div>
