.relic-banner-top {
  background-color: var(--isabelline);
}

.relic-banner-top img {
  float: left;
}
.relic-banner-top p,
.relic-banner-top h2 {
  color: black;
}

img.quest-icon {
  width: 35px;
}

.panel.panel-default .panel-body {
  background-color: #f4f4f4;
}

.panel.panel-default .panel-body img.quest-banner {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.table-50 td,
.table-50 th {
  width: 50%;
}

.panel-quest {
  border: 4px solid #a58c5f;
}

.panel-quest .panel-body {
  border-top: 4px solid #a58c5f;
}

.hero-shb {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../assets/banners/Gangos.jpg");
}

.hero-banner-img {
    max-width: 100%;
}

.hero-textbox {
    background-color: rgba(0, 0, 0, 0.7);
}