.quest-box {
    color: var(--quest-txt);
    background-color: var(--quest-bg);
    border: 5px solid var(--quest-brd);
    margin-bottom: 15px;
    padding: 0 15px;
}

img.quest-icon {
  height: 35px;
  margin: 15px;
  width: auto;
}

.right {
    float: right;
}

.quest-heading {
  font-size: 1.5em;
}

.quest-heading img.quest-icon {
  height: 30px;
  width: auto;
}

.quest-banner {
    min-width: 70%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

table {
    width: 100%;
}

table th,
table td {
    padding: 5px;
}