/* You can add global styles to this file, and also import other style files */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #333333;
}

body > app-root > .container > .row > div > app-shb-relic > p,
body > app-root > .container > .row > div > app-shb-relic > h1,
body > app-root > .container > .row > div > app-shb-relic > h2 {
    color: white;
}

h1, h2, p {
    color: white;
}

.panel p {
    color: black;
}

.side-nav ul {
    margin: 0px;
    padding: 0px;
}

.side-nav li {
    list-style: none;
    padding: 0px;
}

.side-nav a {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
}

.side-nav li:hover,
.side-nav li:hover * {
    background-color: #333333;
    color: white;
}
