<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item">
        <h4>TODO List:</h4>
      </li>
      <li class="list-group-item">Add vertical timeline for steps in each relic process overview.</li>
      <li class="list-group-item">Create a UI on home page for the different expansions to click on that include
        images of the expansion art.</li>
      <li class="list-group-item">Create explanation of Evalice Raids</li>
      <li class="list-group-item">Plan to have blocks of text to explain things along with the simple lists/details.
      </li>
      <li class="list-group-item">Add tabs/pills/buttons to top of page to use anchor tags to jump around.</li>
      <li class="list-group-item"></li>
    </ul>
  </div>
</div>
